@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 768px) {


    .camilaprofile {
        width: 35vw;
        height: 20vh;
        border-radius: 50%;
        border: 8px solid #687382;
        transform: translateY(-60px);
    }

    #maintitle {
        font-size: 1.4rem;
        color: #ffffff;
        margin-top: -50px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        background-color: #2f3f51;
        width: 100%;
        height: auto;
    }

    header {
        background-color: #687382;
        padding: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 20vh;
    }

    .detailsprofile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px 0;
        width: 90%;
        color: #000000;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
        color: #000000;
    }

    hr {
        width: 100%;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    div#social {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        gap: 15px;
        margin-top: 15px;
        color: #ffffff;
    }

    div#social a {
        color: #ffffff;
        transition: color 0.5s;
    }

    div#social a:hover {
        color: #687382;
    }


    footer {
        font-size: 0.9rem;
        background-color: var(--destaque);
        color: var(--texto-inverso);
        text-align: center;
        padding: 15px;
    }

    footer a {
        font-size: 0.9rem;

        color: var(--texto-inverso);
        text-decoration: none;
        font-weight: bold;
    }

    footer a:hover {
        color: var(--destaque-inverso);
    }

}